<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyDatabase"
			providerName=".NET Framework Data Provider for SQL Server"
			connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase.mdf;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>